$zoom-control-radius: 30px;
$zoom-control-font-size: 22px;

.map {
    height: 100%;
    padding: 0;
    z-index: 1;
}

.offcanvas-btn {
    position: absolute;
    top: 5 * 16px;
    z-index: 1;
    width: $zoom-control-radius;
    height: $zoom-control-radius;
    line-height: $zoom-control-radius;
    font-size: $zoom-control-font-size;
    border-radius: 4px;
    left: 10px;
}