@import 'src/assets/styles/variables';

.map {
    height: 100%;
    padding: 0;
    z-index: 1;

    #filter-controller > a {
        font-size: 30px;
    }

    ::ng-deep {
        .leaflet-control-layers-toggle {
            width: 30px;
            height: 30px;
        }
    }
}
