@import 'src/assets/styles/variables';

:host {
    overflow: hidden;
    min-width: var(--bs-offcanvas-width);
    height: calc(100% - ($cho-filter-header-box + (2 * $cho-filter-padding)));

    > .offcanvas-body {
        height: calc(100% - #{$cho-filter-header-box});
        width: calc(100% - 1px);
    }
}

// TODO:
// .button {
//     background-image: url('~src/assets/icons/keyboard-double-arrow-right.svg');
// }
