<div class="offcanvas-header">
    <h5 class="offcanvas-title">Atlas Filter</h5>
    <button
            type="button"
            class="btn-close text-reset"
            aria-label="Close"
            (click)="onSidebarClose()"
    ></button>
</div>

<div class="offcanvas-body">
    <lmap-cho-summary-filter [filter]="filter"></lmap-cho-summary-filter>
</div>




<!--        <li>edm:currentLocation (http://opendata.cs.pub.ro/resource/Organization/country:Romania/county:Calarasi/Gumelnita_Civilisation_Museum/)</li>-->


<!--        TODO: odp:geologicalPeriod => dcterms:temporal (stiintele naturii)<br/><br/>-->
<!--        Filter CHOs by:<br/>-->
<!--        <ul>-->
<!--            <li>locality name</li>-->
<!--            <li>locality code (siruta)</li>-->

<!--&lt;!&ndash;            <li>county</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>dc:title (RO ONLY: Colier, Cap de statuetă)</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>odp:inventoryNumber (B/640, D 4479)</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>odp:displayState (RO ONLY: bună, mediocră)</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>dc:type (artefact, man-made object)</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>&ndash;&gt;-->
<!--&lt;!&ndash;                edm:wasPresentAt ("http://opendata.cs.pub.ro/resource/Event/Finding/CIMEC/57DAC35D2E1D4429ACB0B6A94E09C975)&ndash;&gt;-->
<!--&lt;!&ndash;                TODO: subquery&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>odp:found (similar with edm:wasPresentAt for Finding event type)</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>dcterms:created (similar with edm:wasPresentAt for Production event type)</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>dcterms:issued => dcterms:created</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>dcterms:temporal (Eneolitic, Epoca bronzului)</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>odp:form (RO ONLY: circulară, cruce repetată)</li>&ndash;&gt;-->

<!--            <li>edm:hasType (RO ONLY: Ceramică, arheologie)</li>-->
<!--            <li>dc:subject (RO ONLY: Farfurie, Farfurie cu dragon, Brățară)</li>-->
<!--            <li>edm:isRelatedTo (culture: geto-dacică, culture: carpică, culture: Cucuteni)</li>-->
<!--            <li>dcterms:medium (RO ONLY: aur, batere, nituire, turnare)</li>-->
<!--            <li>-->
<!--                edm:hasMet (-->
<!--                    http://opendata.cs.pub.ro/resource/Agent/H_Weichmann-->
<!--                    http://opendata.cs.pub.ro/resource/Place/country:Romania/locality:Odorheiu_Secuiesc/-->
<!--                )-->
<!--                TODO: create a map containing all places?-->
<!--            </li>-->


<!--&lt;!&ndash;            <li>odp:age (RO ONLY - stiintele naturii - AD (adult), 23 MIL)</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>dbo:sex (RO ONLY - stiintele naturii - femelă, mascul)</li>&ndash;&gt;-->
<!--            <li>odp:biotope (RO ONLY - stiintele naturii - Munții (zone montane), câmpie, Râpe)</li>-->
<!--            <li>odp:chemicalComposition (RO ONLY - stiintele naturii - SiO2, Silvanit; (Ag, Au)Te2, Au, SiO2, XS, CaSO4)</li>-->
<!--&lt;!&ndash;            <li>odp:geologicalPeriod (RO ONLY - stiintele naturii - neogen, Pleistocen mediu)</li>&ndash;&gt;-->

<!--            <li>odp:fineness ???</li>-->
<!--            <li>odp:overallDescription ???</li>-->
<!--            <li>dc:description ??? de ce nu exista in seturile de date ???</li>-->
<!--        </ul>-->
