<div class="cho-filter">
    <form class="needs-validation" [formGroup]="form">
        <ngb-accordion activeIds="general-info-filter">
            <ngb-panel id="general-info-filter">
                <ng-template ngbPanelTitle>
                    <div class="title">Main CHOs Filter</div>
                    <button
                            class="btn btn-link btn-reset-section"
                            (click)="onSectionReset($event)"
                    >Reset</button>
                </ng-template>
                <ng-template ngbPanelContent>
                    <lmap-general-info-cho-filter [filter]="filter" [form]="form"></lmap-general-info-cho-filter>
                </ng-template>
            </ngb-panel>

            <ngb-panel id="current-location">
                <ng-template ngbPanelTitle>
                    <div class="title">Current Location</div>
                    <button
                            class="btn btn-link btn-reset-section"
                            (click)="onSectionReset($event)"
                    >Reset</button>
                </ng-template>
                <ng-template ngbPanelContent>
                    <lmap-locations-cho-filter [filter]="filter" [form]="form"></lmap-locations-cho-filter>
                </ng-template>
            </ngb-panel>

            <ngb-panel id="creation-period">
                <ng-template ngbPanelTitle>
                    <div class="title">Creation Period (Range)</div>
                    <button
                            class="btn btn-link btn-reset-section"
                            (click)="onSectionReset($event)"
                    >Reset</button>
                </ng-template>
                <ng-template ngbPanelContent>
                    <lmap-events-cho-stats-filter [filterRange]="filter.creationTime" [form]="form" formControlPrefix="creation"></lmap-events-cho-stats-filter>
                </ng-template>
            </ngb-panel>

            <ngb-panel id="finding-period">
                <ng-template ngbPanelTitle>
                    <div class="title">Finding Period (Range)</div>
                    <button
                            class="btn btn-link btn-reset-section"
                            (click)="onSectionReset($event)"
                    >Reset</button>
                </ng-template>
                <ng-template ngbPanelContent>
                    <lmap-events-cho-stats-filter [filterRange]="filter.foundTime" [form]="form" formControlPrefix="found"></lmap-events-cho-stats-filter>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>

        <ngb-accordion activeIds="">
            <!--            <ngb-panel title="Epoch">-->
            <!--                <ng-template ngbPanelContent>-->
            <!--                    <lmap-epoch-cho-filter [filter]="filter" [form]="form"></lmap-epoch-cho-filter>-->
            <!--                </ng-template>-->
            <!--            </ngb-panel>-->

            <ngb-panel id="medal-filter" [disabled]="isNatureFilterTouched()">
                <ng-template ngbPanelTitle>
                    <div class="title">Medal Filter</div>
                    <button
                            class="btn btn-link btn-reset-section"
                            [disabled]="isNatureFilterTouched()"
                            (click)="onSectionReset($event)"
                    >Reset</button>
                </ng-template>
                <ng-template ngbPanelContent>
                    <lmap-medal-cho-filter [filter]="filter" [form]="form"></lmap-medal-cho-filter>
                </ng-template>
            </ngb-panel>

            <ngb-panel id="natural-science-filter" [disabled]="isMedalFilterTouched()">
                <ng-template ngbPanelTitle>
                    <div class="title">Natural Science Filter</div>
                    <button
                            class="btn btn-link btn-reset-section"
                            [disabled]="isMedalFilterTouched()"
                            (click)="onSectionReset($event)"
                    >Reset</button>
                </ng-template>
                <ng-template ngbPanelContent>
                    <lmap-natural-science-cho-filter [filter]="filter" [form]="form"></lmap-natural-science-cho-filter>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>

        <div class="form-footer">
            <button class="btn btn-md btn-success" type="submit" (click)="onSubmit()">Apply Filter</button>
            <button class="btn btn-md btn-secondary" type="reset" (click)="form.reset()">Reset Filter</button>
        </div>
    </form>
</div>
