<div class="modal-header">
    <h5 class="modal-title">Cultural Heritage Objects Stats</h5>
    <button class="btn-close" type="button" aria-label="Close" (click)="onViewClose()"></button>
</div>

<div class="modal-body d-flex gap-4">
    <div class="sidebar">
        <div class="filter-wrapper">
            <lmap-cho-stats-filter [filter]="filter" [onFilterApply]="onFilterApply"></lmap-cho-stats-filter>
        </div>
    </div>

    <div class="content">
        <br />
        <lmap-cho-stats-pie-chart
                title="Top 10 Production Timespans"
                *ngIf="filter.productionTime.show"
                [dataset]="productionDataset"
                [showLabels]="showProductionLabels"
        ></lmap-cho-stats-pie-chart>
        <br /><br /><br />
        <lmap-cho-stats-pie-chart
                title="Top 10 Finding Timespans"
                *ngIf="filter.findingTime.show"
                [dataset]="findingDataset"
                [showLabels]="showFindingLabels"
        ></lmap-cho-stats-pie-chart>
        <br /><br /><br />
        <lmap-cho-stats-pie-chart
                title="Top 10 Collecting Timespans"
                *ngIf="filter.collectingTime.show"
                [dataset]="collectingDataset"
                [showLabels]="showCollectingLabels"
        ></lmap-cho-stats-pie-chart>
    </div>
</div>
