// TODO: check why rfs override bootstrap rules
//@import 'node_modules/bootstrap/scss/bootstrap';
//$bootstrap-modal-margin: $modal-dialog-margin-y-sm-up;

$blue: #0078a8;
$indigo: #004290;
$white: #fcfcfc;

$bootstrap-modal-margin: 1.75rem;
