<div class="cho-filter">
    <!--    was-validated -->
    <button [ngClass]="{'btn btn-counter': true, disabled: !counterClickable}" (click)="openCHOsModal()">
        Results: {{ totalCHOs$ | async | number }} CHOs
    </button>

    <form class="needs-validation" [formGroup]="form" (submit)="onSubmit()">
        <ngb-accordion activeIds="general-info-filter">
            <ngb-panel id="general-info-filter">
                <ng-template ngbPanelTitle>
                    <div class="title">Main CHOs Filter</div>
                    <button class="btn btn-link btn-reset-section" (click)="onSectionReset($event)">Reset</button>
                </ng-template>
                <ng-template ngbPanelContent>
                    <lmap-general-info-cho-filter [filter]="filter" [form]="form"></lmap-general-info-cho-filter>
                </ng-template>
            </ngb-panel>

            <ngb-panel id="current-location">
                <ng-template ngbPanelTitle>
                    <div class="title">Current Location</div>
                    <button class="btn btn-link btn-reset-section" (click)="onSectionReset($event)">Reset</button>
                </ng-template>
                <ng-template ngbPanelContent>
                    <lmap-locations-cho-filter [filter]="filter" [form]="form"></lmap-locations-cho-filter>
                </ng-template>
            </ngb-panel>

            <ngb-panel id="creation-period">
                <ng-template ngbPanelTitle>
                    <div class="title">Creation Period (Interval)</div>
                    <button class="btn btn-link btn-reset-section" (click)="onSectionReset($event)">Reset</button>
                </ng-template>
                <ng-template ngbPanelContent>
                    <lmap-events-cho-filter [filterInterval]="filter.creationInterval" [form]="form"></lmap-events-cho-filter>
                </ng-template>
            </ngb-panel>

            <ngb-panel id="finding-period">
                <ng-template ngbPanelTitle>
                    <div class="title">Finding Period (Interval)</div>
                    <button class="btn btn-link btn-reset-section" (click)="onSectionReset($event)">Reset</button>
                </ng-template>
                <ng-template ngbPanelContent>
                    <lmap-events-cho-filter [filterInterval]="filter.foundInterval" [form]="form"></lmap-events-cho-filter>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>

        <ngb-accordion activeIds="">
            <!--            <ngb-panel title="Epoch">-->
            <!--                <ng-template ngbPanelContent>-->
            <!--                    <lmap-epoch-cho-filter [filter]="filter" [form]="form"></lmap-epoch-cho-filter>-->
            <!--                </ng-template>-->
            <!--            </ngb-panel>-->

            <ngb-panel id="medal-filter">
                <ng-template ngbPanelTitle>
                    <div class="title">Medal Filter</div>
                    <button class="btn btn-link btn-reset-section" (click)="onSectionReset($event)">Reset</button>
                </ng-template>
                <ng-template ngbPanelContent>
                    <lmap-medal-cho-filter [filter]="filter" [form]="form"></lmap-medal-cho-filter>
                </ng-template>
            </ngb-panel>

            <ngb-panel id="natural-science-filter">
                <ng-template ngbPanelTitle>
                    <div class="title">Natural Science Filter</div>
                    <button class="btn btn-link btn-reset-section" (click)="onSectionReset($event)">Reset</button>
                </ng-template>
                <ng-template ngbPanelContent>
                    <lmap-natural-science-cho-filter [filter]="filter" [form]="form"></lmap-natural-science-cho-filter>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>

        <div class="form-footer">
            <button class="btn btn-md btn-success" type="submit">Apply Filter</button>
            <button class="btn btn-md btn-secondary" type="reset" (click)="form.reset()">Reset Filter</button>
        </div>
    </form>
</div>
