//@import 'src/assets/styles/variables';

$header-padding: 16px;
$header-height: 30px;
$header-height-with-padding: 30px + (2 * $header-padding);

:host {
    height: 100%;
    display: flex;
    flex-direction: column;

    .counter-card {
        cursor: pointer;
        // TODO:
        background: rgba(188, 143, 143, 0.4);

        &:hover {
            // TODO:
            background: rgba(180, 160, 150, 0.4);
            box-shadow: 0 0 0 2px rgba(180, 160, 150, 0.4);
        }
    }

    > form {
        ::ng-deep {
            .accordion-item {
                &:first-of-type {
                    margin-top: $header-padding;
                }
            }
        }

        > .form-footer {
            position: absolute;
            top: calc(100% - (4 * #{$header-padding}));
            width: calc(100% - (3 * #{$header-padding}));
            display: flex;
            gap: 16px;

            > button[type='submit'],
            > button[type='reset'] {
                width: 50%;
            }
        }
    }
}
